---
const { id } = Astro.props;

const experience = [
    {
        title: "ntt data",
        job: "Bussiness Intelligence",
        date: "Junio 2022 - Actualidad",
        description: "Tras termina el grado de ASIR, comencé a trabajar en NTT Data como desarrollador de BI, donde obtenido experiencia en SQL, SSIS, SSRS y mejorando mis habilidades de comunicación y trabajo en equipo."
    },
    {
        title: "manea coffee",
        job: "Desarrollador Front-end freelance",
        date: "Agosto 2025",
        description: "Ayudé a esta tienda a mejorar su gestión de suscripciones, lo que mejoró la UX y por tanto las ventas."
    }
];
---


<section id={id} class="experience">
    <h2>experiencia</h2>
    <div class="experience-content">
        {experience.map((job) => (
            <article class="experience-item">
                <h3>{job.title}</h3>
                <p>{job.date} | {job.job}</p>
                <p>{job.description}</p>
            </article>
        ))}
    </div>

</section>


<style>
    .experience-content {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex: 2;
        min-width: 90%;
        margin-inline: auto;
        margin-bottom: 3rem;
        flex-direction: column;
        gap: 2rem;
        
    }

    .experience-item{
        display: flex;
        flex-direction: column;
        width: 70%;
        

        & h3 {
            font-size: 3rem;
            color: var(--text-color);
            align-self: flex-end;
            font-weight: 500;
            
        }

        & p {
        font-size: 1.2rem;
        max-width: 100%;
        text-align: right;
        text-transform: uppercase;
        line-height: 1.5rem;
        text-wrap: balance;

    }
        

    }

