---
import Skills from './Skills.astro';
const { id } = Astro.props;

const experience = [
    {
        title: "ntt data",
        job: "Bussiness Intelligence",
        date: "Junio 2022 - Actualidad",
        description: "Tras termina el grado de ASIR, comencé a trabajar en NTT Data como desarrollador de BI, donde obtenido experiencia en SQL, SSIS, SSRS y mejorando mis habilidades de comunicación y trabajo en equipo."
    },
    {
        title: "nymphe spirit",
        job: "Desarrollador Front-end freelance",
        date: "Actualmente",
        description: "Estoy desarrollando la web para la ilustradora Alba Tejedor (nimphe spirit), utilizando las tecnoligias de Astro y React, en la que se podrá encontrar una tienda online y su porfolio."
    }
];
---


<section id={id} class="experience">
    <h2>experiencia</h2>

    <Skills id="skills" />
    <div class="experience-content">
        {experience.map((job) => (
            <article class="experience-item">
                <h3>{job.title}</h3>
                <p>{job.date} | {job.job}</p>
                <p>{job.description}</p>
            </article>
        ))}
    </div>

</section>


<style>

    .experience{

        display: grid;
        grid-template-areas: 
        "header header"
        "skills experience";
        padding: 0.5rem 5rem;
        grid-template-columns: 1fr 1.5fr;
        @media (width <= 750px){
            padding: 0.5rem 2rem;

            grid-template-areas: 
            "header"
            "experience"
            "skills";
        }

        & h2{
            grid-area: header;
        }
    }



    .experience-content {
        grid-area: experience;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex: 2;
        min-width: 90%;
        margin-inline: auto;
        flex-direction: column;
        gap: 2rem;

        @media (width <= 750px){
            justify-content: flex-start;
            height: fit-content;
        }
        
    }

    .experience-item{
        display: flex;
        flex-direction: column;
       
        @media (width <= 750px){
            width: 100%;
        }
        

        & h3 {
            font-size: var(--h3-font-size);
            color: var(--text-color);
            align-self: flex-end;
            font-weight: 500;
            
        }

        & p {
        font-size: 1.5rem;
        max-width: 100%;
        text-align: right;
        text-transform: uppercase;
        line-height: 1.8rem;
        text-wrap: balance;

        @media (width <= 750px){
            font-size: .9rem;
        }

    }
        

    }

