---
import HTML_icon from "../components/icons/Html_icon.astro";
import CSS_icon from "../components/icons/Css_icon.astro";
import JS_icon from "../components/icons/Js_icon.astro";
import React_icon from "../components/icons/React_icon.astro";

const {id} = Astro.props;

const proyects = [
    {
        title: "panel kanban",
        description: "Panel de tareas estilo Kanban en el que peudes crear las culumnas que tu quieras, utilizar drag and drop para mover las tareas entre columnas y guardar todo en el local storage.",
        url: "https://lista-tareas-drab.vercel.app/",
        image: "/images/panel_kanban.webp",
        tecnologias: ["html", "css", "js"]
    },
    {
        title: "bucador de extensiones",
        description: "Buscador de extensiones hecho con React, renderiza un json, en el que puedes activar o desactivar las extensiones, borrarlas y filtrarlas según esten acivas o no.",
        url: "https://buscador-extensiones.vercel.app/",
        image: "/images/buscador_extensiones.webp",
        tecnologias: ["html", "css", "react"]
    },
    {
        title: "landing page recortador de URLs",
        description: "Landing page de un recortador de URLs, hecho con React, que permite acortar URLs de manera sencilla conectandose a una API externa.",
        url: "https://url-shortening-landing-page-chi.vercel.app/",
        image: "/images/landing_page.webp",
        tecnologias: ["html", "css", "react"]
    }          
];
---

<section id={id} class="proyects">
    <h2>proyectos</h2>
    <div class="proyects-content">
        {proyects.map((proyect) => (
            <article class="proyect-item">
                <hgroup>
                    <h3>{proyect.title}</h3>
                    <div class="proyect-skills">
                        {proyect.tecnologias.map((tecnologia) => (
                            <div class="tecnologia-icon">
                                {tecnologia === "html" && <HTML_icon />}
                                {tecnologia === "css" && <CSS_icon />}
                                {tecnologia === "js" && <JS_icon />}
                                {tecnologia === "react" && <React_icon />}
                            </div>
                        ))}
                    </div>
                </hgroup>
                
                <a href={proyect.url} target="_blank" rel="noopener noreferrer">
                    <img src={proyect.image} alt={proyect.title} />
                </a>
                
                <footer>
                    <p>{proyect.description}</p>
                </footer>
            </article>
        ))}
    </div>
</section>

<style>
    h2{
        align-self: flex-end;
    }

    .proyects-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex: 2;
        min-width: 100%;
        margin-bottom: 3rem;
        gap: 1rem;
    }

    .proyect-item {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: flex 0.2s;
        flex: 1;
        height: 100%;
        gap: 0.5rem;

        &:hover {
            flex: 1.2;
        }

        &:not(:hover) {
            flex: 0.7;
        }

        & hgroup {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            & h3 {
                font-size: 1.5rem;
                color: var(--text-color);
            }

            & .proyect-skills {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                & .tecnologia-icon {
                    padding: 0.2rem 0.5rem;
                    width: 50px;
                    height: 50px;
                    display: flex;
                
            }
        }
        }

        & img {
            width: 100%;
            max-height: 100%;
        }

        & footer {
            display: flex;
            gap: 1rem;

            & p {
                font-size: 1rem;
                text-wrap: balance;
                text-transform: uppercase;
            }
        
            
        }
    }
</style>