---
import HTML_icon from "../components/icons/Html_icon.astro";
import CSS_icon from "../components/icons/Css_icon.astro";
import JS_icon from "../components/icons/Js_icon.astro";
import React_icon from "../components/icons/React_icon.astro";

const {id} = Astro.props;

const proyects = [
    {
        title: "Panel Kanban",
        description: "Descripción del proyecto 1",
        url: "https://lista-tareas-drab.vercel.app/",
        image: "/images/panel_kanban.webp",
        tecnologias: [HTML_icon, CSS_icon, JS_icon]
    },
    {
        title: "Bucador de extensiones",
        description: "Descripción del proyecto 2",
        url: "https://buscador-extensiones.vercel.app/",
        image: "/images/buscador_extensiones.webp",
        tecnologias: [HTML_icon, CSS_icon, React_icon]
    },
    {
        title: "Landing Page recortador de URLs",
        description: "Descripción del proyecto 3",
        url: "https://url-shortening-landing-page-chi.vercel.app/",
        image: "/images/landing_page.webp",
        tecnologias: [HTML_icon, CSS_icon, React_icon]
    }
    
    
];

---

<section id={id} class="proyects">
    <h2>proyectos</h2>
    <div class="proyects-content">
        {proyects.map((proyect) => (
            <article class="proyect-item">
                <hgroup>
                    <h3>{proyect.title}</h3>
                    <p>{proyect.description}</p>
                </hgroup>
                
                <a href={proyect.url} target="_blank" rel="noopener noreferrer">
                    <img src={proyect.image} alt={proyect.title} />
                </a>
                <footer>
                    {proyect.tecnologias.map((tecnologia) => (
                        <div class="tecnologia-icon">{tecnologia}</div>
                    ))}
                </footer>
            </article>
        ))}
    </div>

</section>

<style>
    h2{
        align-self: flex-end;
    }

    .proyects-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex: 2;
        min-width: 100%;
        margin-bottom: 3rem;
        gap: 1rem;
        
    }

    .proyect-item{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: flex 0.2s;
        flex: 1;
        height: 100%;

        &:hover {
            flex: 1.5;
        }

        & hgroup {
            background-color: #f9f9f9;

            & h3 {
                font-size: 1.5rem;
                color: var(--text-color);
                margin-bottom: 0.5rem;
            }

            & p {
                font-size: 1rem;
                color: #666;
            }
        }

        & img {
            width: 100%;
            height: 100%;
        }

        & footer {
            display: flex;
            gap: 1rem;
            padding: 1rem;
            background-color: #f9f9f9;

            & .tecnologia-icon {
                padding: 0.2rem 0.5rem;
                width: 50px;
                height: 50px;
            }
        }

        
    }